spring:
  cloud:
    consul:
      host: consul-server.consul.svc.cluster.local
      port: 8500

  datasource:
    url: jdbc:mysql://mysql-mysql.data.svc.cluster.local:3306/stocat?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&useUnicode=true&characterEncoding=UTF-8
    username: user
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: redis-master.data.svc.cluster.local
      port: 6379
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: true

jwt:
  access-exp-minutes: 5
  refresh-exp-days: 7
  secret:
    watch-interval: 5000
